[submodule "subprojects/Hydrolib-soft"]
	path = subprojects/Hydrolib-soft
	url = https://github.com/SeaJackal/Hydrolib-soft.git
	branch = master
[submodule "subprojects/Drivers"]
	path = subprojects/Drivers
	url = https://github.com/STMicroelectronics/stm32h7xx-hal-driver.git
	branch = release/v1.11.2
[submodule "subprojects/CMSIS_H7"]
	path = subprojects/CMSIS_H7
	url = https://github.com/STMicroelectronics/cmsis-device-h7.git
	branch = master
[submodule "CMSIS_5"]
	path = subprojects/CMSIS
	url = https://github.com/ARM-software/CMSIS_5.git
	branch = develop
